@page
@model IndexModel
@{
    ViewData["Title"] = "Tareas Asignadas";
}

<div class="text-center">
    <div class="grid-container">
        <div class="grid-item">
            <b>Nombre Tarea</b>
        </div>
        <div class="grid-item">
            <b>Fecha Vencimiento</b>
        </div>
        <div class="grid-item">
            <b>Estado</b>
        </div>
        <div class="grid-item">
            <b>Acciones</b>
        </div>
        
        @foreach (var tarea in Model.Tareas)
        {
            <div class="grid-item">
                @tarea.nombreTarea
            </div>
            <div class="grid-item">
                @tarea.fechaVencimiento
            </div>
            <div class="grid-item">
                <span class="badge @(tarea.estado switch {
                            "Pendiente" => "bg-warning text-dark",
                            "En curso" => "bg-info",
                            "Finalizado" => "bg-success",
                            "Cancelado" => "bg-danger",
                            _ => "bg-secondary"
                        })">
                    @tarea.estado
                </span>
            </div>
            <div class="grid-item">
                Acciones
            </div>
          }

        <div class="grid-item">
            <b>Nombre Tarea</b>
        </div>
        <div class="grid-item">
            <b>Fecha Vencimiento</b>
        </div>
        <div class="grid-item">
            <b>Estado</b>
        </div>
        <div class="grid-item">
            <b>Acciones</b>
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= Model.TotalPaginas; i++)
                {
                    <li class="page-item @(i == Model.PaginaActual ? "active" : "")">
                        <a class="page-link" asp-page="./index" asp-route-pagina="@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
